<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>$ZIGVST_CFBundleDevelopmentRegion</string>
        <key>CFBundleExecutable</key>
        <string>$ZIGVST_CFBundleExecutable</string>
        <key>CFBundleIdentifier</key>
        <string>$ZIGVST_CFBundleIdentifier</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>$ZIGVST_CFBundleName</string>
        <key>CFBundlePackageType</key>
        <string>BNDL</string>
        <key>CFBundleSignature</key>
        <string>$ZIGVST_CFBundleSignature</string>
        <key>CFBundleVersion</key>
        <string>$ZIGVST_CFBundleVersion</string>
        <key>CFBundleShortVersionString</key>
        <string>$ZIGVST_CFBundleVersion</string>
        <key>CFBundleGetInfoString</key>
        <string>TODO</string>
    </dict>
</plist>
